<div class="content grid">
  <div class="text">
    <p>We have generated a PDF document for your quote.<p>
    <p>The pdf is attached within this email.</p>
    <p>Please do not reply to this email. Should you need further assistance, please send email at admin@mrsool.co or call +0014475837602.<p>
    <p>Thanks for reaching out and have a great day!</p>
  </div>
</div>
``
