<div class="content grid">
  <div class="text">
    <p>We have generated a PDF document for your quote.<p><br />
    <p>The pdf is attached within this email.</p><br />
    <p>Please do not reply to this email. Should you need further assistance, please send email at admin@mrsool.co or call.<p>
  </div>
</div>
