<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <style>
        .direction-rtl {
          direction: rtl;
        }
        .header {
          border-collapse: collapse;
          width: 100%;
        }
        .title {
          color: #3fc8a0;
          font-weight: bold;
          font-size: 23px;
        }
        .logo-box {
          display: inline-block;
          width: 800px;
        }
        .logo {
          width: 100%;
          max-width: 50px;
          float: left;
          margin-top: 10px;
        }
        .mrsool-info {
          text-align: right;
          color: #9da3a8;
        }
        .header-box-left {
          text-align: left;
          padding: 10px;
          padding-bottom: 20px;
          border: 2px solid #ebebeb;
          width: 500px;
          float: left;
        }
        .header-box-quote {
          text-align: left;
          padding: 10px;
          padding-bottom: 20px;
          border: 2px solid #ebebeb;
          width: 875px;
          height: 950px;
          float: left;
        }
        .header-box-right {
          text-align: left;
          padding: 10px;
          border: 2px solid #ebebeb;
          width: 500px;
          float: right;
        }
        .header-box-left > div {
          height: 50px;
          margin-bottom: 20px;
        }
        .header-box-right > div {
          height: 50px;
          margin-bottom: 20px;
        }
        .space-box {
          width: 40px;
        }
        .content-table {
          border: 2px solid #ebebeb;
          width: 100%;
          border-collapse: collapse;
          margin-top: 30px;
        }
        .text-right {
          padding-right: 15px;
          font-size: 17px;
          text-align: right;
        }
        .text-left-footer-title {
          padding-left: 15px;
          font-size: 17px;
          text-align: left;
          font-weight: bold;
        }
        .text-right-footer-title {
          padding-right: 15px;
          font-size: 17px;
          text-align: right;
          font-size: 20px;
        }
        .text-left {
          padding-left: 15px;
          font-size: 17px;
          text-align: left;
        }
        .text-right-grey {
          padding-right: 15px;
          text-align: right;
          font-size: 17px;
          color: #9d9d9d;
        }
        .text-left-grey {
          padding-left: 15px;
          text-align: left;
          font-size: 17px;
          color: #9d9d9d;
        }
        .content-table > thead > tr > th {
          background-color: #f2f2f2;
          height: 70px;
        }
        .content-table > tbody > tr {
          border: 2px solid #ebebeb;
          height: 70px;
        }
        .content-table > tfoot > tr {
          background-color: #f2f2f2;
          height: 50px;
        }
        .business-summary .title {
          color: floralwhite;
          text-align: center;
          font-size: 17px;
          background: #00BF6F;
          padding: 8px;
          margin-top: 20px;
        }
        .business-summary span {
          color: #A7A9AC;
        }
        .business-summary table {
          border-radius: 1em;
          overflow: hidden;
          border: none;
        }
        .business-summary table tr {
          height: 57px;
          border: none;
        }
        .business-summary table tr:nth-child(even) {
          background: #F9F9F9;
        }
        .business-summary table tr.sub-total {
          background: #E5F4FF;
          border-bottom: 1px solid #D7DADE;
        }
        .business-summary table tr.sub-total td {
          color: #007CD6;
          font-weight: bold;
        }
        .business-summary table tr.sub-total span {
          color: #49ABF2;
        }
        .business-summary table td {
          color: #000000;
          text-align: center;
        }
        .business-summary table thead tr {
          height: 60px;
        }
        .business-summary table thead th {
          background-color: #F9F9F9;
          color: #000000;
          font-weight: bold;
          font-size: 15px;
        }
        .business-summary table tfoot tr {
          height: 67px;
        }
        .business-summary table tfoot td {
          background-color: #00BF6F;
          color: #FFFFFF;
          font-weight: bold;
          font-size: 20px;
        }
        .business-summary table tfoot span {
          color: #FFFFFF;
        }
        .footer-table {
          border: 2px solid #00BF6F;
          width: 100%;
          border-collapse: collapse;
          margin-top: 30px;
        }
        .footer-table > thead > tr > th {
          padding-right: 15px;
          padding-left: 15px;
          background-color: #00BF6F;
          height: 70px;
          color: white;
        }
        .footer-table > tbody > tr {
          border: 2px solid #00BF6F;
          height: 50px;
        }
        .footer-table > tbody > tr :nth-child(3) {
          color: #00BF6F;
        }
        .footer-grid {
          margin-top: 30px;
          width: 100%;
          border-collapse: collapse;
        }
        .receipt-note-footer-grid {
          margin-top: 110px;
          width: 100%;
          border-collapse: collapse;
        }
        .contract-table {
          direction: rtl;
        }
        .contract-table .tab-col {
          width: 50%;
          vertical-align: top;
        }
        .text-center {
          text-align: center;
        }
        .no-page-break {
          page-break-inside: avoid;
        }
        .page-break {
          display: block;
          clear: both;
          page-break-after: always;
        }
        .contract-detail-table {
          border-collapse: collapse;
          page-break-inside: avoid;
        }
        .contract-detail-table tr {
          border: 1px solid #000000;
        }
        .contract-detail-table tr th {
          border: 1px solid #000000;
          padding: 4px;
        }
        .contract-detail-table tr td {
          text-align: center;
        }
        .contract-detail-table .left-text {
          padding-left: 15px;
          font-size: 17px;
          text-align: left;
        }
        .table-one {
          width: 100%;
        }
        .table-one td {
          padding-top: 8px;
          padding-bottom: 8px;
        }
        .table-two {
          width: 80%;
          margin: 30px auto;
        }
        .contract-footer .dept {
          font-weight: bold;
          color: #154c79;
          margin-bottom: 0px;
        }
        .contract-footer .address {
          margin-top: 0px;
          margin-bottom: 0px;
        }
    </style>
  </head>

  <body onload='number_pages()'>
    <%= render "quotes/EG/pdf_content" %>
  </body>
</html>
