<p><b>Sender:</b> <%= @enquiry.name %></p><br />
<p><b>Subject:</b> <%= @enquiry.subject %></p><br /><br />

<p><b>Message:</b> <%= @enquiry.message %></p><br />

<p>Translantic website: https://translantic.com</p><br />
<p>Thanks for reaching out and have a great day!</p>
