<div class="content grid">
  <div class="text">
    <p><b>Subject:</b> <%= @enquiry.subject %></p><br /><br />

    <p><b>Sender:</b> <%= @enquiry.name %></p><br />
    <p><b>Message:</b> <%= @enquiry.message %></p><br />

    <p>Thanks you and have a great day!</p>
  </div>
</div>
