<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Customers</h1>
    <%= link_to "New customer", new_customer_path, class: "rounded-lg py-2 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <hr class="mt-3 mb-7" />

  <div id="customers" class="min-w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
            Translantics customers
            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">Browse a list of customers on the Translantics platform to help you keep in touch, grow your business, and more.</p>
        </caption>
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
                Name
            </th>
            <th scope="col" class="px-6 py-3">
                Type
            </th>
            <th scope="col" class="px-6 py-3">
                Phone
            </th>
            <th scope="col" class="px-6 py-3">
                Email
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: 'customer', collection: @customers %>
        </tbody>
      </table>
    </div>
  </div>

</div>
