<meta charset="utf-8">
<%= wicked_pdf_stylesheet_link_tag "default_reports" %>

<table class="footer-address-grid">
  <tbody>
    <tr>
      <td>
        <hr class="footer-address-splitter">
      </td>
    </tr>
    <tr>
      <td>
        <div class="footer-address-text">
          2435 Rendon Bloodworth Rd, Mansfield, Texas
        </div>
      </td>
    </tr>
  </tbody>
</table>
