<meta charset="utf-8">
<style>
    .footer-address-grid {
      width: 100%;
      border-collapse: collapse;
    }

    .footer-address-splitter {
      margin: 15px 0;
      border: 1px solid #E5E5E5;
    }

    .footer-address-text {
      text-align: center;
      font-size: 13px;
      color: #5B6670;
    }
</style>

<table class="footer-address-grid">
  <tbody>
    <tr>
      <td>
        <hr class="footer-address-splitter">
      </td>
    </tr>
    <tr>
      <td>
        <div class="footer-address-text">
          <p>2435 Rendon Bloodworth Rd, Mansfield, Texas</p>
        </div>
      </td>
    </tr>
  </tbody>
</table>
