<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Shipments</h1>
    <%= link_to "New shipment", new_shipment_path, class: "rounded py-2 px-5 bg-blue-600 text-white text-sm block font-medium" %>
  </div>

  <hr class="mt-3 mb-7" />

  <div id="shipments" class="min-w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
                Tracking Number
            </th>
            <th scope="col" class="px-6 py-3">
                Frieght type
            </th>
            <th scope="col" class="px-6 py-3">
                Departure
            </th>
            <th scope="col" class="px-6 py-3">
                Location
            </th>
            <th scope="col" class="px-6 py-3">
                Destination 
            </th>
            <th scope="col" class="px-6 py-3">
                Status
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
          </tr>
        </thead>
        <tbody>
            <%= render partial: 'shipment', collection: @shipments %>
        </tbody>
      </table>
    </div>
  </div>
</div>
