<h1 class="font-bold text-2xl"> Tracking #<%= @shipment.tracking_number %></h1>

<hr class="mt-3 mb-7" />

<div class="mx-auto md:w-2/3 w-full flex">
  <div class="md:w-2/3 w-full mx-auto">
    <div class="bg-white max-w-2xl shadow overflow-hidden sm:rounded-lg">
      <%= render partial: 'show', locals: { shipment: @shipment } %>
    </div>

    <%= link_to "Edit shipment", edit_shipment_path(@shipment), class: "rounded-lg font-medium w-full sm:w-auto px-5 py-2 my-3 text-center text-white bg-green-700 inline-block font-medium" %>

    <%= link_to "Back to shipments", shipments_path, class: "rounded-lg font-medium w-full sm:w-auto px-5 py-2 my-3 text-center bg-gray-100 inline-block font-medium" %>
  </div>
</div>
