<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">Locations</h1>
    <%= link_to "New location", new_location_path, class: "py-2 px-2 bg-blue-600 text-white text-sm block font-medium" %>
  </div>

  <hr class="mt-3 mb-7" />

  <div id="locations" class="min-w-full">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
      <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
                City
            </th>
            <th scope="col" class="px-6 py-3">
                Country
            </th>
            <th scope="col" class="px-6 py-3">
                State
            </th>
            <th scope="col" class="px-6 py-3">
                Action
            </th>
          </tr>
        </thead>
        <tbody>
          <%= render @locations %>
        </tbody>
      </table>
    </div>
  </div>

</div>
